<header id="header" class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="#index.html" class="heder-logo">watchcharm</a>
      <ul class="header-sections_buttons">
        <li class="header-sections_button">
          <a href="#index.html" class="header-link header-link_in">Home</a>
        </li>
        <li class="header-sections_button">
          <a href="#index.html" class="header-link">About Us</a>
        </li>
        <li class="header-sections_button">
          <a href="#index.html" class="header-link">Catalog</a>
        </li>
        <li class="header-sections_button">
          <a href="#index.html" class="header-link">Sale</a>
        </li>
        <li class="header-sections_button">
          <a href="#index.html" class="header-link">Reviews</a>
        </li>
        <li class="header-sections_button">
          <a href="#index.html" class="header-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <button class="header-burgler">
      <svg width="34" height="34" class="header_bicon">
        <use href="../img/header/symbol.svg#icon-menu-05-1-converted"></use>
      </svg>
    </button>
    <ul class="header-social_list">
      <li class="header-social-media">
        <a
          href="https://www.facebook.com/goITclub/"
          class="header-social-media_link"
        >
          <svg width="20" height="20" class="header_sicon">
            <use href="../img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-media">
        <a
          href="https://www.instagram.com/goitclub/"
          class="header-social-media_link"
        >
          <svg width="20" height="20" class="header_sicon">
            <use href="../img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-media">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="header-social-media_link"
        >
          <svg width="20" height="20" class="header_sicon">
            <use href="../img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
