<section id="hero" class="hero">
  <div class="container">
    <div class="content">
      <h1 class="text11">
        Welcome to our
        <br /><span class="highlight">collection</span> of <br />premium watches
      </h1>
      <p class="text22">
        Our watches are not just timepieces, but also an
        <br />expression of your personality and lifestyle. From <br />classic
        designs to modern ones, wehave a watch to <br />suit every taste and
        occasion.
      </p>
    </div>
    <div class="hero-right">
      <div class="team-avatars">
        <img src="../img/hero/1.webp" alt="Team member 1" class="TeamM" />
        <img src="../img/hero/2.webp" alt="Team member 2" class="TeamM" />
        <img src="../img/hero/3.webp" alt="Team member 3" class="TeamM" />
      </div>
      <a href="#footer" class="scroll-down">Scroll down </a>
    </div>
    <img src="../img/hero/chasi1.webp" alt="Premium watch" class="chasi1" />
  </div>
</section>
