   <section id="hero" class="hero">
    <div class="container">
        <div class="content">
            <div class="text">
                <div class="osnova">
                    <h1 class="text11">
                        Welcome to our
                        <br><span class="highlight">collection</span> of
                        <br>premium watches
                    </h1>
                    <p class="text22">
                        Our watches are not just timepieces, but also an 
                        <br>expression of your
                        personality and lifestyle. From 
                        <br>classic designs to modern ones, wehave a watch to 
                        <br>suit every taste and occasion.
                    </p>
                </div>
            </div>
            <div class="SD"><a href="#footer" class="scroll-down">Scroll down
            </a></div>
        </div>
        <div class="team-avatars">
            <img src="images/1.webp" alt="Team member 1" class="TeamM">
            <img src="images/2.webp" alt="Team member 2" class="TeamM">
            <img src="images/3.webp" alt="Team member 3" class="TeamM">
        </div>
        <div class="image">
            <img src="images/chasi1.webp" alt="Premium watch" class="chasi1">
        </div>
      </div>
    </section>