<section id="hero" class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="content">
        <h1 class="text11">
          Welcome to our <span class="highlight">collection</span> of premium
          watches
        </h1>
        <p class="text22">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-right">
        <img
          src="../img/hero/image.png"
          srcset="../img/hero/image.png 1x, ../img/hero/image@2.png 2x"
          alt="people"
          class="hero-people"
          width="108"
          height="44"
        />
        <a href="#footer" class="scroll-down">Scroll down </a>
      </div>
    </div>
    <div class="hero-img"></div>
  </div>
</section>
