
    <section  id="Reviews" class="reviews">
        <div class="conteiner">
            <h2 class="reviews-h2">Reviews</h2>
                <div class="reviews-div ">
                    <div class="slider">
                            <ul class="slides" >
                                <li class="slide">
                                        <img
                                        class="reviews-img"
                                        src="./img/Reviews/Ellipse22.png"
                                        srcset="./img/Reviews/Ellipse22.png 1x, ./img/Reviews/Ellipse22@2x.png 2x "
                                         alt="John Wax"
                                        width="56"
                                        height="56"
                                      />
                                <h3 class="reviews-h3">John Wax</h3>
                                <p class="reviews-p">Buying a watch from was the best choice for me. The design is perfectly combined with high quality materials. The strap fits nicely on the hand, and the mechanism works flawlessly.</p>
                                </li>
                                <li class="slide">
                                    <img
                                    src="./img/Reviews/Ellipse21.png"
                                    srcset="./img/Reviews/Ellipse21.png 1x, ./img/Reviews/Ellipse21@2x.png 2x "
                                     alt="Victoria Romashenko"
                                    width="56"
                                    height="56"
                                  />
                                <h3 class="reviews-h3">Victoria Romashenko</h3>
                                <p  class="reviews-p">Can't take my eyes off my watch from. Every time I put it on, it is admired by those around me. The build quality and attention to detail make it a real gem among my accessories.</p>
                                </li>
                                <li class="slide">
                                    <img
                                    src="./img/Reviews/Ellipse23.png"
                                    srcset="./img/Reviews/Ellipse23.png 1x, ./img/Reviews/Ellipse23@2x.png 2x "
                                     alt="Anastasia Trachuk"
                                    width="56"
                                    height="56"
                                  />
                                <h3 class="reviews-h3" >Anastasia Trachuk</h3>
                                <p  class="reviews-p" >My watch from is a real masterpiece. Every detail impresses with the high quality of execution. Special features like [specify features] make it an indispensable companion in my daily life.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
     
    </section>
