<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <ul class="sale-thumbnail-list">
      <li class="sale-thumbnail-item">
        <picture>
          <picture>
            <source
              media="(min-width: 786px)"
              srcset=""
            />
            <source
              media="(max-width: 767px)"
              srcset="../img/sale-img/mobile/sale-watchcharm-mob-img-1.webp 1x, ../img/sale-img/mobile/sale-watchcharm-mob-img-1@2x.webp 2x"
            />
          <img
            src="../img/sale-img/mobile/sale-watchcharm-mob-img-1.webp"
            alt="watchcharm model"
            class="sale-watchcharm-model-img"
          />
        </picture>
      </li>
      <li class="sale-thumbnail-item">
        <picture>
          <source
              media="(min-width: 786px)"
              srcset=""
            />
            <source
              media="(max-width: 767px)"
              srcset="../img/sale-img/mobile/sale-watchcharm-mob-img-2.webp 1x, ../img/sale-img/mobile/sale-watchcharm-mob-img-2@2x.webp 2x"
            />
          <img
            src="../img/sale-img/mobile/sale-watchcharm-mob-img-2.webp"
            alt="watchcharm model"
            class="sale-watchcharm-model-img"
          />
        </picture>
      </li>
      <li class="sale-thumbnail-item">
        <picture>
          <source
              media="(min-width: 786px)"
              srcset=""
            />
            <source
              media="(max-width: 767px)"
              srcset="../img/sale-img/mobile/sale-watchcharm-mob-img-3.webp 1x, ../img/sale-img/mobile/sale-watchcharm-mob-img-3@2x.webp 2x"
            />
          <img
            src="../img/sale-img/mobile/sale-watchcharm-mob-img-3.webp"
            alt="watchcharm model"
            class="sale-watchcharm-model-img"
          />
        </picture>
      </li>
      <li class="sale-thumbnail-item">
        <picture>
          <source
              media="(min-width: 786px)"
              srcset=""
            />
            <source
              media="(max-width: 767px)"
              srcset="../img/sale-img/mobile/sale-watchcharm-mob-img-4.webp 1x, ../img/sale-img/mobile/sale-watchcharm-mob-img-4@2x.webp 2x"
            />
          <img
            src="../img/sale-img/mobile/sale-watchcharm-mob-img-4.webp"
            alt="watchcharm model"
            class="sale-watchcharm-model-img"
          />
        </picture>
      </li>
    </ul>
    <div class="sale-watchcharm-main-model">
      <picture>
        <source
              media="(min-width: 786px)"
              srcset=""
            />
            <source
              media="(max-width: 767px)"
              srcset="../img/sale-img/mobile/sale-watchcharm-mob-main-img.webp 1x, ../img/sale-img/mobile/sale-watchcharm-mob-main-img@2x.webp 2x"
            />
        <img
          src="../img/sale-img/mobile/sale-watchcharm-mob-main-img.webp"
          alt="watchcharm model"
          class="sale-watchcharm-main-model-img"
        />
      </picture>
    </div>

    <div class="sale-watchcharm-card-descr">
      <h2 class="sale-watchcharm-model-name">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h2>
      <p class="sale-watchcharm-article">Product tag: 706587</p>

      <div class="sale-price">
        <p class="sale-watchcharm-cost">€1500</p>
        <p class="sale-watchcharm-previous-cost">€3000</p>
      </div>
      <p class="sale-watchcharm-model-descr">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <ul class="sale-watchcharm-model-characteristics">
        <li class="sale-watchcharm-model-characteristic">Fused carbon fiber</li>
        <li class="sale-watchcharm-model-characteristic">Grade-5 Titanuim</li>
        <li class="sale-watchcharm-model-characteristic">Athlete</li>
        <li class="sale-watchcharm-model-characteristic">Golfer</li>
        <li class="sale-watchcharm-model-characteristic">Commander</li>
        <li class="sale-watchcharm-model-characteristic">Adventurer</li>
      </ul>
    </div>
  </div>
</section>
