/* @media (min-width: 320px) and (max-width: 374px) {
    .image {
        width: 50px;
        height: 50px;
        margin-left: -10px;
    }
}

@media (min-width: 375px) {

    .highlight {
        color: #3350E9;
    }

    .text11 {
        font-size: 40px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: -0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        

    }

    .text22 {
        color: #0C0C0CB2;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        
    }

    .chasi1 {
        width: 375px;
        height: 366px;
        gap: 0px;
        border-radius: 50px;
    }

    .SD {
        position: relative;
        left:270px;
        top: 25px;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 103px;
    }

    .scroll-down {
        color: #0C0C0C;
    }

    .team-avatars {
        display: flex;
        align-items: center;
        position: relative;
        bottom: 20px;
    }

    .TeamM {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 2px solid white;
        margin-left: -20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: white;
    }

    .TeamM:first-child {
        margin-left: 0;
    }
}

@media (min-width: 768px) {

    .highlight {
        color: #3350E9;
    }

    .text11 {
        font-size: 40px;
        width: 597px;
        height: 189px;
        gap: 0px;
        font-size: 72px;
        font-weight: 600;
        line-height: 63px;
        letter-spacing: -0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .text22 {
        color: #0C0C0CB2;
        position: relative;
        bottom: 20px;
        font-size: 16px;

    }

    .chasi1 {
        width: 768px;
        height: 432px;
        gap: 0px;
        border-radius: 50px;
    }

    .SD {
        position: relative;
        left: 665px;
        bottom: 55px;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 103px;
    }

    .scroll-down {
        color: #0C0C0C;

    }

    .team-avatars {
        display: flex;
        align-items: center;
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 358px;
        left: 660px;
    }

    .TeamM {
        border-radius: 50%;
        border: 2px solid white;
        margin-left: -20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: white;
    }

    .TeamM:first-child {
        margin-left: 0;
    }
}

@media (min-width: 1280px) {

    .highlight {
        color: #3350E9;
    }

    .text11 {
        font-size: 72px;
        width: 597px;
        height: 189px;
        gap: 0px;
        font-size: 72px;
        font-weight: 600;
        line-height: 63px;
        letter-spacing: -0.02em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;

    }

    .text22 {
        color: #0C0C0CB2;
        position: relative;
        bottom: 20px;
    }

    .chasi1 {
        width: 1770px;
        height: 996px;
        gap: 0px;
        border-radius: 50px;
    }

    .SD {
        position: relative;
        left: 1670px;
        bottom: 55px;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: left;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        width: 103px;
    }

    .scroll-down {
        color: #0C0C0C;
    }

    .team-avatars {
        display: flex;
        align-items: center;
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 358px;
        left: 1660px;
    }

    .TeamM {
        border-radius: 50%;
        border: 2px solid white;
        margin-left: -20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: white;
    }

    .TeamM:first-child {
        margin-left: 0;
    }
} */
/* !!!!!!!HERO LEFT!!!!!! */
.hero {
  padding: 60px 0 30px 0;
}
.text11 {
  letter-spacing: -0.02em;
  line-height: 38px;
  font-size: 40px;
  font-weight: 600;
  color: #0c0c0c;
  margin-bottom: 20px;
}
.highlight {
  color: #3350e9;
}
.text22 {
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding: 80px 0 40px 0;
  }
  .text11 {
    line-height: 60px;
    font-size: 70px;
  }
  .text22 {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 20px;
    max-width: 480px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding: 80px 0 50px 0;
  }
  .text11 {
    line-height: 63px;
    font-size: 72px;
    max-width: 597px;
  }
}
/* !!!!!!!!!!HERO RIGHT!!!!!!!! */
.hero-right {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.scroll-down {
  color: #0c0c0c;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: -0.02em;
  border-bottom: 1px solid #0c0c0c;
}
@media only screen and (min-width: 768px) {
  .hero-people {
    width: 366px;
  }
  .hero-container {
    display: flex;
    gap: 11px;
  }
  .hero-right {
    flex-direction: column;
    height: 260px;
  }
  .scroll-down {
    font-size: 20px;
    line-height: 20px;
    width: 102px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container {
    gap: 0;
    justify-content: space-between;
  }
  .hero-people {
    width: 146px;
  }
  .hero-right {
    height: 269px;
  }
}

/* !!!!!!!HERO-IMG!!!!! */
.hero-img {
  margin-top: 28px;
  height: 366px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/hero/Rectangle.png);
}
@media only screen and (min-width: 768px) {
  .hero-img {
    margin-top: 40px;
    height: 520px;
    background-image: url(../img/hero/RectangleTablet.png);
  }
}
@media only screen and (min-width: 1280px) {
  .hero-img {
    background-image: url(../img/hero/RectangleDesktop.png);
  }
}
